* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}
/* Primary somthing */
:root{
    --color:red;
    
}

/*------------------------------
      This is header style sheet  
---------------------------------*/





/*-------------------------------
      This is Main style sheet  
---------------------------------*/







/*------------------------------- 
      This is Footer style sheet  
---------------------------------*/